body { font-family: sans-serif; text-align: center; margin-top: 50px; }
#strona { border: 2px solid black; padding: 20px; max-width: 300px; margin: auto; }
li { list-style: none; } /* Usuwa kropki z listy */